[Unit]
Description=Reverse Text demo service
After=network.target
# Not used in Ubuntu 18
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jkstill
ExecStart=/usr/bin/env perl /home/jkstill/linux/systemd-service-example/reverse-service.pl

[Install]
WantedBy=multi-user.target
